<div class="wrapper">
  <header class="header">
    <div class="container">
      <div class="header__frame">
        <div class="header__left">
          <a href="./">
            <div class="company-name">теплоэнергосервис</div>
          </a>
          <a href="./">
            <div class="company-logo"></div>
          </a>
        </div>
        <nav>
          <ul class="nav">
            <li class="nav__item">
              <a href="./">каталог</a>
            </li>
            <li class="nav__item nav__item--active">
              <a href="./contacts">контакты</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </header>
  <div class="wrapper__content">
    <div class="container">
      <div class="contacts__frame">
        <div class="contacts__header">
          <h2 class="contacts__title">Наши контакты</h2>
          <div class="contacts__header-icon"></div>
        </div>
        <div class="contacts__block">
          <div class="contacts__row contacts__row--row">
            <div class="contacts__property">
              <div class="property__icon svg__phone"></div>
              <div class="property__title">телефон:</div>
            </div>
            <div class="contacts__value">+7 (4712) 730-799</div>
          </div>
          <div class="contacts__row contacts__row--row">
            <div class="contacts__property">
              <div class="property__icon svg__email"></div>
              <div class="property__title">факс:</div>
            </div>
            <div class="contacts__value">+7 (4712) 730-799</div>
          </div>
          <div class="contacts__row contacts__row--row">
            <div class="contacts__property">
              <div class="property__icon svg__email"></div>
              <div class="property__title">email:</div>
            </div>
            <div class="contacts__value">gktes@mail.ru</div>
          </div>
          <div class="contacts__row contacts__row--row">
            <div class="contacts__property">
              <div class="property__icon svg__address"></div>
              <div class="property__title">адрес:</div>
            </div>
            <div class="contacts__value">
              305007, Россия, Курская обл., город Курск г.о., Курск г.,
              Моковский 2-й пр-д, д. 7В, ком. 7
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="container">
      <div class="footer__container">
        <a href="./">
          <div class="company-logo footer__company-logo"></div>
        </a>
        <div class="footer__text">Приглашаем к сотрудничеству!</div>
        <div class="footer__contacts">
          <a href="tel:+79995552277">
            <div class="footer__contacts-value">+7 (4712) 730-799</div>
          </a>
          <div class="footer__contacts-value">gktes@mail.ru</div>
        </div>
      </div>
    </div>
  </div>
</div>
